/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rails-form-h1 {
  text-align: center;
  color: red;
  font-size: 2.3rem;
  font-family: monospace;
  margin: 100px 0 20px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
  margin-bottom: 20px;
}

.placeholder {
  color: rgb(46, 43, 43);
  font-size: 0.8rem;
  font-family: monospace;
  padding: 0 20px 0 5px;
}

.rails-form {
  border: 1px solid blue;
}